default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: m_share_development
  username: postgres
  password: 'postgres'

test:
  <<: *default
  database: m_share_test
  username: postgres
  password: 'postgres'

production:
  <<: *default
  database: m_share_production
  username: postgres
  password: <%= ENV['M_SHARE_DATABASE_PASSWORD'] %>
